.call {
  padding: 30px;
  text-align: center;
  h3 {
    font-size: rem(24px);
  }
  .call-main {
    margin-top: rem(20px);
  }
  p {
    font-size: rem(18px);
  }
  .call-btns {
    margin-top: rem(40px);
  }
}