.fold {
  padding: rem(20px) rem(15px) rem(1px) rem(15px);
  background: #f5f8fb;
  margin-bottom: rem(24px);
  width:rem(446px);
  margin: 0 auto;
  .fold-header {
    position: relative;
    font-size: rem(16px);
    color: #333;
    .fold-collapse {
      position: absolute;
      right: rem(15px);
      top: rem(23px);
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}
.from_baseLine{
  margin: 0 auto;
  text-align: center;
  padding-bottom: rem(5px);
  color: #999;
  &:hover{
    color: #666;
  }
  span{
    padding:rem(5px) rem(10px);
    cursor: pointer;
  }
}
.form_footer{
  margin-top: rem(15px);
  display: flex;
 justify-content: flex-end;
}
