@import 'variable';
// iview 样式已有reset样式
// @import 'reset';
@import 'assist';
@import 'base';
@import 'icon';
@import 'icomoon';
@import '_size';
@import '_common';
// response
@import './response/1440';
@import './response/1280';
@import './response/1024';
@import './iview-reset';
@import './scroll';
@import './components/frame';
@import './components/panel';
@import './components/divide';
@import './components/card';
@import './components/block';
@import './components/plate';
@import './components/board';
@import './components/nail';
@import './components/keyword';
@import './components/chat';
@import './components/databar';
@import './components/list';
@import './components/tag';
@import './components/cube';
@import './components/view-page';
@import './components/seat';
@import './components/case';
@import './components/node';
@import './components/mod';
@import './components/tree';
@import './components/cityLevel';
@import './components/collection';
@import './components/call';
@import './components/fold';
@import './pages/login';
@import './pages/home';
@import './pages/person';
@import './components/talk';