/*   
 * 主题定义
 */

// UI预设分辨率
@font-face {
  font-family: 'PingFangSC';
  src: url('../fonts/pingfangRegular.ttf');
  font-weight: normal;
  font-style: normal;
}
$screen-width: 1920px;
// 中文字体
$font-family: 'PingFangSC',
'helvetica neue',
'hiragino sans gb',
'arial',
'microsoft yahei ui',
'microsoft yahei',
'simsun',
'sans-serif' !important;
// 字体大小
$font-size-extra-large: rem(20px);
$font-size-large: rem(18px);
$font-size-semibold: rem(16px);
$font-size-normal: rem(14px);
$font-size-small: rem(12px);
$font-size-root: 20px;
$font-size-frame: 12px;
// 文字颜色
$color-extra-dark: #2C393F;
$color-title:#333;
$color-link:#5983ff;
$color-dark: #666;
$color-normal: #8995A0;
$color-light: #D4DCE3;
$color-extra-light: #F2F2F2;
// 背景颜色
$background-color-extra-dark: #262B2E;
$background-color-dark: #2E3437;
$background-color-normal: #fff;
$background-color-light: #CFCFCF;
$background-color-extra-light: #F2F2F2;
// 边框颜色
$border-color-normal: #CFCFCF;
$border-color-light: #F2F2F2;
// 主题颜色
$theme-default: #262B2E;
$theme-primary: #5983ff;
$theme-success: #3EC093;
$theme-info: #0091DB;
$theme-warning: #F7AD60;
$theme-danger: #FF7570;
$theme-default_hover: #373E41;
$theme-primary_hover: #26CDE6;
$theme-success_hover: #56D3A5;
$theme-info_hover: #37B5F5;
$theme-warning_hover: #F8B671;
$theme-danger_hover: #FF8582;
$theme-default_active: #02C1DE;
$theme-primary_active: #00AD73;
$theme-success_active: #2BAE83;
$theme-info_active: #0082C5;
$theme-warning_active: #F2A14C;
$theme-danger_active: #F26663;
$theme-map: ( 'default': $theme-default, 'primary': $theme-primary, 'success': $theme-success, 'info': $theme-info, 'warning': $theme-warning, 'danger': $theme-danger, );
// 菜单栏
$logoBox-color:#6c90ff;
$nav-color:#5983ff;
$nav-color_hover: #8eaaff;
$nav-color_active: #8eaaff;
// px 转换成 rem
// $px 带px单位
@function rem($px) {
  @return #{$px/$font-size-root}rem;
}
