.person-title {
  position: relative;
  width: 100%;
  height: rem(70px);
  line-height: rem(30px);
  font-size: rem(20px);
  color: $color-extra-dark;
  border-bottom: 1px solid #F1F1F1;

  .ivu-icon-close {
    float: right;
    line-height: rem(30px);
    cursor: pointer;
  }

  >p {
    float: left;
  }
}
.person-body {
  position: relative;
  display: table;
  overflow: auto;
  zoom: 1;
  padding: rem(20px);
  width: 100%;
  *{
    box-sizing: border-box;
  }
}

.person-left, .person-right {
  position: relative;
  width: 50%;
}
.person-left {
  float: left;
  >.person-block {
    min-height: rem(520px);
  }
}
.person-right {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  flex-direction: column;
  top: 0;
  right: rem(20px);
  padding: rem(20px);
  height: 100%;
  >.person-block {
    min-height: rem(250px);
  }
}

.person-center {
  position: relative;
  margin: auto;
  width: 50%;
}

.person-block {
  margin: rem(20px);
  padding: rem(20px);
  background: #F6F6F6;
  border-radius: rem(5px);
}

.person-block-title {
  margin-bottom: rem(20px);
  line-height: rem(30px);
  font-size: rem(20px);
  font-weight: 600;
  color: $color-dark;
}

.person-content {
  position: relative;
  margin: auto rem(10px);
}
.person-form {
  margin-top: rem(65px);
  margin-right: rem(100px);
  .ivu-form-item {
    margin-bottom: rem(20px);
  }
  .ivu-btn {
    float: right;
  }
}
.person-info {
  position: relative;
  display: block;
  width: 100%;
  height: rem(60px);
  line-height: rem(60px);
  color: #495060;

  >.label {
    position: relative;
    float: left;
    width: rem(150px);
    text-align: right;

    .required {
      position: relative;
      display: inline-block;
    }
    .required:before {
      position: absolute;
      display: inline-block;
      content: "*";
      width: rem(5px);
      height: rem(5px);
      left: rem(-10px);
      top: 0;
      color: $theme-danger_active;
    }
  }

  >.value {
    >a {
      margin-left: rem(20px);
    }
  }
}

.person-form-avatar {
  margin-top: rem(-25px);
  overflow: hidden;
  width: rem(100px);
  height: rem(100px);
  border-radius: 50%;
  > img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

.person-dialog-form {
  margin: rem(30px) auto auto;
  width: 80%;
}