@import '../theme/default/style/variable.scss';

.title {
  display: inline-block;
  margin: 0 60px;
  font-size: 24px;
  line-height: 70px;
  color: $color-extra-light;
}

/* reset iview dropdown */
.ivu-dropdown {
  position: relative;
  float: right;
  margin: 23px 60px;
  min-width: 100px;

}
.ivu-dropdown-rel > a {
  color: $color-extra-light;
}
